:root {
  --color-primary-500: hsl(158, 36%, 37%);
  --color-primary-700: hsl(158, 42%, 18%);

  --color-neutral-black: hsl(212, 21%, 14%);
  --color-neutral-grey: hsl(228, 12%, 48%);
  --color-neutral-cream: hsl(30, 38%, 92%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --fw-regular: 500;
  --fw-bold: 700;

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/** custom styles **/
body {
  font-family: var(--ff-base);
  font-weight: var(--fw--regular);
  font-size: 0.875rem;
  color: var(--color-neutral-grey);
  background-color: var(--color-neutral-cream);

  display: grid;
  place-content: center;
  margin: 1rem;
}

/**flex-group**/
.flex-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/**product**/
.product {
  --content-padding: 1.5rem;
  --content-spacing: 1rem;

  background-color: var(--color-neutral-white);
  border-radius: 0.5rem;
  overflow: hidden;
}
.product__content {
  display: grid;
  gap: var(--content-spacing);
  border: 3px solid violet;
  padding: var(--content-padding);
}
